<!DOCTYPE html>
<html>
  <head>

    <%- include('../../partials/gpu_Database/head'); %>
  </head>
  <body>

    <div class="container content-center">
      <div class="jumbotron">

        <h1>WELCOME</h1>
        <p>This is the GPU Inventory form.</p>

      </div>
    </div>

    <div class="container">

    <%- include('../../partials/gpu_Database/view'); %>

    <a href="./"><button class="btn btn-primary" name="gback">BACK</button></a>

    </div>

    <script type="text/javascript" src="index.js"></script>

  </body>
</html>
