<form action="/view" method="POST">

  <h3>View an Entry to the inventory:</h3>

  <label for="gpuModel" class="form-label" required>GPU Model:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Model name..." aria-label="GPU Model" aria-describedby="basic-addon1" required>
  </div>

  <button type="reset" id="cancelBtn" class="btn btn-primary">Cancel</button>
  <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>

</form>
