<!DOCTYPE html>
<html>
<head>

    <%- include('../layouts/head'); %>
</head>
<body>

<div class="container content-center">
    <div class="jumbotron">

        <h1>WELCOME</h1>
        <h3>What action would you like to perform?.</h3>

    </div>
</div>

<div class="container">

    <a href="/gpu/add"><button class="btn btn-primary" name="dir_add">ADD</button></a>

    <%- include('../layouts/gpu'); %>

    <a href="./"><button class="btn btn-primary" name="gback">BACK</button></a>

</div>

<script type="text/javascript" src="index.js"></script>

</body>
</html>
