<form action="/user/add" method="POST">

  <h3>Add a User to the inventory:</h3>

  <label for="userName" class="form-label">Name:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="John Smith..." name="uName" aria-describedby="basic-addon1" required>
  </div>

  <label for="userEmail" class="form-label">Email:</label>
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="abc@def.com..." name="uEmail" aria-describedby="basic-addon1" required>
  </div>

  <button type="reset" id="cancelBtn" class="btn btn-primary">Reset</button>
  <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>

</form>
