<form action="/user/view" method="POST">

  <h3>View an Entry to the inventory:</h3>

  <label for="userName" class="form-label">Name:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="John Smith..." name="uName" aria-describedby="basic-addon1" required>
  </div>

  <button type="reset" id="cancelBtn" class="btn btn-primary">Cancel</button>
  <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>

</form>
