<!DOCTYPE html>
<html>
  <head>

    <%- include('../../partials/user_Database/head'); %>
  </head>
  <body>

    <div class="container content-center">
      <div class="jumbotron">

        <h1>WELCOME</h1>
        <p>This is the GPU Inventory form.</p>

      </div>
    </div>

    <div class="container">

    <%- include('../../partials/user_Database/view'); %>

    </div>

    <script type="text/javascript" src="inv_GPU.js"></script>

  </body>
</html>
